@font-face {
  font-family: 'Lobster';
  src: url('../src/fonts/Lobster-Regular.ttf');
  font-weight: 400;
  font-size: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../src/fonts/OpenSans-VariableFont_wdth\,wght.ttf'),
    url('../src/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf');
  font-weight: 300;
  font-style: normal;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.full-height {
  height: 100%;
}

#content {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #7f762f;
}

header {
  margin: 0.5% 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

button,
h1,
h2,
h3,
p,
a {
  color: #ffffff;
}

button {
  font-size: 24px;
  font-family: 'OpenSans';
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffffff;
  border-radius: 8px;
  transition-duration: 0.2s;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #000000;
  cursor: pointer;
}

main {
  flex: 1 0 auto;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url('./images/background.jpg');
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
}

.home-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: 'Lobster';
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}

p,
footer {
  font-family: 'OpenSans';
}

p {
  font-size: 28px;
}

header,
footer {
  flex-shrink: 0;
}

footer {
  margin: 0.5% 0;
}

a {
  font-size: 24px;
  text-decoration: none;
  transition-duration: 0.2s;
}

a:hover {
  font-size: 25px;
}

.menu-container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu-container > h1 {
  align-self: center;
}

.header-container {
  width: 50%;
  align-self: center;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.6);
}

.header-container > h2 {
  color: #000000;
}

.product-container {
  border: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
}

.product-container > h3,
.product-container > p,
.product-container > img {
  align-self: center;
}

.product-container > img {
  border-radius: 8px;
  border: 2px solid #ffffff;
}

.price {
  font-size: 26px;
}

.full-width {
  width: 100%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.person-container {
  width: 25%;
  padding: 0 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #ffffff;
  border-radius: 8px;
}
